# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\个人项目\wei-rpc\wei-rpc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
